
@{
    ViewBag.Title = "Admin |Index";
}

<!-- banner = home -->
<div id="home">
    <!-- --------------------------------  STAY - LAYOUT--------------------------------------------------->
    <!-- color scheme -->
    <div class="blast-box">
        <div class="blast-frame">
            <p>color schemes</p>
            <div class="blast-colors d-flex justify-content-center">
                <div class="blast-color">#23d48f</div>
                <div class="blast-color">#d3b800</div>
                <div class="blast-color">#18e7d3</div>
                <div class="blast-color">#e5902a</div>
                <div class="blast-color">#16d9e9</div>
                <!-- you can add more colors here -->
            </div>
            <p class="blast-custom-colors">Choose Custom color</p>
            <input type="color" name="blastCustomColor" value="#d3b800">

        </div>
        <div class="blast-icon"><span class="fa fa-paint-brush" aria-hidden="true"></span></div>
    </div>
    <!-- //color scheme -->
    <!-- header -->
    @section header{
        @{
            Html.RenderPartial("~/Views/Shared/_Header.cshtml");
        }
    }

    <!-- //header -->

    <div class="callbacks_container" style="background-color:rgba(0, 0, 0, 0.5); min-height:5em">

    </div>

</div>
<div class="container" style="height: 100vh">
    <div class="rslides d-flex justify-content-end">
        <h4> Hello, @Model.Utilisateur.Nom  @Model.Utilisateur.Prenom</h4>
        
        <p>
            @Html.ActionLink("Edit", "Edit", new
            { /* id = Model.PrimaryKey */
            }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>


    <div class="d-flex justify-content-between align-items-center">
        <div id="accordion" class="w-50 p-3">
            <!--------------- YOUR PROFILE ------------------------>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            YOUR PROFILE
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="card " style="width: 5rem;">
                            <img class="card-img-top flex justify-content-center" src="~/photos/utilisateur/@Model.Utilisateur.Photo" alt="Card image cap">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Model.Utilisateur.Nom</li>
                            <li class="list-group-item">@Model.Utilisateur.Prenom</li>
                            <li class="list-group-item">@Model.Utilisateur.Courriel</li>
                        </ul>
                        <div class="card-body">
                            <a href="/Parrain/Home/EditProfile/@Model.Utilisateur.IdUtilisateur" class="btn w3ls-btn bg-theme  d-block">Edit your profil</a>
                        </div>

                    </div>
                </div>
            </div>
            <!--------------- EDIT USER------------------------>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            EDIT USER
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <!------------LINK to open ------MEMBER EDITION------------------------------>

                        <a href="#MemberEditionByAdmin" data-toggle="modal" data-target="#MemberEditionByAdmin" class="font-weight-bold"
                           data-blast="color">
                            Register Now
                        </a>
                        <!------------------MEMBER EDITION------------------------------>
                        <!-- register -->
                        <div class="modal fade" id="MemberEditionByAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">__MEMBER EDITION__</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="~/Admin/Home/EditProfile" method="post" class="p-sm-3">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Nom</label>
                                                <input type="text" class="form-control" value="@Model.Utilisateur.Nom" name="Nom" id="recipient-rname"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label for="Prenom" class="col-form-label">Prenom</label>
                                                <input type="text" class="form-control" placeholder="" value="@Model.Utilisateur.Prenom" name="Prenom" id="Prenom"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label for="DateDeNaissance" class="col-form-label">Date de Naissance</label>
                                                <input type="date" class="form-control" value="@Model.Utilisateur.DateDeNaissance" name="DateDeNaissance" id="DateDeNaissance"
                                                       required>
                                            </div>
                                            <div class="form-group">

                                                <label for="IdRole" class="col-form-label"> Statut </label>
                                                <input type="text" class="form-control" name="@Model.Utilisateur.IdRole" value="" @Model.Utilisateur.IdRole  id="IdRole" required>

                                            </div>
                                            @* isADMIN *@
                                            <div class="form-group">
                                                @*<label for="recipient-email" class="col-form-label">Administrateur</label>*@
                                                <input type="hidden" class="form-control" placeholder="" value="false" name="IsAdmin" id="recipient-email"
                                                       required>
                                            </div>
                                            @* END isAdmin *@
                                            <div class="form-group">
                                                <label for="recipient-email" class="col-form-label">Email</label>
                                                <input type="email" class="form-control" value="@Model.Utilisateur.Courriel" name="Courriel" id="recipient-email"
                                                       required>
                                            </div>
                                            
                                            <div class="sub-w3l">
                                                 <div class="sub-w3_pvt">
                                                     <input type="checkbox" id="brand2" value="">
                                                     <label for="brand2" class="mb-3">
                                                        <span></span>Yes, I proceed the modifications
                                                     </label>
                                                  </div>
                                            </div>
                                            <div class="right-w3l">
                                                <input type="submit" class="form-control" value="Register">
                                            </div>

                                            @Html.AntiForgeryToken()
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- // register -->
                        <!-------------------------------------------------------------------------------------------->
                    </div>
                </div>
            </div>
            <!--------------- EDIT ANIMAL-----ADD------------------->

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            EDIT ANIMAL
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    
                    <div class="card-body">
                        <!------------LINK to open ------ADD-------ANIMAL------------------------------>

                        <a href="#AnimalEditionByAdmin" data-toggle="modal" data-target="#AnimalEditionByAdmin" class="font-weight-bold"
                           data-blast="color">
                            add one
                        </a> <br />
                        <!------------------ADD-----------ANIMAL ------------------------------>
                        <!-- register -->
                        <div class="modal fade" id="AnimalEditionByAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">__ADD A ANIMAL__</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="~/Admin/Home/EditAnimal" method="post" class="p-sm-3">
                                            <div class="form-group">
                                                <label for="Prenom" class="col-form-label">Nom Scientifique</label>
                                                <input type="text" class="form-control" placeholder="" name="NomScientifique" id="NomScientifique"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Nom</label>
                                                <input type="text" class="form-control" name="Nom" id="recipient-rname" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="RegionOrigine" class="col-form-label">Region d'origine</label>
                                                <input type="text" class="form-control" name="RegionOrigine" id="RegionOrigine" required>
                                            </div>
                                            <!---------------------selection of categorie---------------------------------------------------->
                                            <div class="form-group">
                                                <label for="IdCategorie" class="col-form-label"> Catégorie </label>
                                                <select class="form-control" name="IdCategorie" id="IdCategorie">

                                                    @{
                                                        if (Model.Animal.allCategories != null)
                                                        {
                                                            foreach (var item in Model.Animal.allCategories)
                                                            {
                                                                <option class="form-control" value=@item.IdCategorie>@item.TypeCategorie</option>
                                                            }
                                                        }

                                                    }

                                                </select>
                                            </div>
                                            <!------------------FIN---selection of categorie---------------------------------------------------->

                                            <div class="form-group">
                                                <label for="picture1" class="col-form-label">Une photo de profil</label>
                                                <input type="file" class="form-control" placeholder="Chargez ..." name="Photo" id="picture1"
                                                       required>
                                            </div>

                                            <div class="right-w3l">
                                                <input type="submit" class="form-control" value="Register">
                                            </div>

                                            @Html.AntiForgeryToken()
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- // register -->
                        <!--------------------------------------------------------------------------------->
                        <!------------LINK to open ------UPDATE-------ANIMAL------------------------------>
                        
                        <a href="#AnimalEditionByAdmin" data-toggle="modal" data-target="#AnimalUpdatingByAdmin" class="font-weight-bold"
                           data-blast="color">
                            update one
                        </a>
                        <!------------------UPDATE-----------ANIMAL ------------------------------>
                        <!-- register -->
                        <div class="modal fade" id="AnimalUpdatingByAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">__UPDATING A ANIMAL__</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="~/Admin/Home/UpdateAnimal" method="post" class="p-sm-3">
                                            <div class="form-group">
                                                <label for="IdAnimal" class="col-form-label">Animal ID</label>
                                                <input type="text" class="form-control" placeholder="" name="IdAnimal" id="IdAnimal"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label for="NomScientifique" class="col-form-label">Nom Scientifique</label>
                                                <input type="text" class="form-control" placeholder="" name="NomScientifique" id="NomScientifique"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Nom</label>
                                                <input type="text" class="form-control" name="Nom" id="recipient-rname" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="RegionOrigine" class="col-form-label">Region d'origine</label>
                                                <input type="text" class="form-control" name="RegionOrigine" id="RegionOrigine" required>
                                            </div>
                                            <!---------------------selection of categorie---------------------------------------------------->
                                            <div class="form-group">
                                                <label for="IdCategorie" class="col-form-label"> Catégorie </label>
                                                <select class="form-control" name="IdCategorie" id="IdCategorie">

                                                    @{
                                                        if (Model.Animal.allCategories != null)
                                                        {
                                                            foreach (var item in Model.Animal.allCategories)
                                                            {
                                                                <option class="form-control" value=@item.IdCategorie>@item.TypeCategorie</option>
                                                            }
                                                        }

                                                    }

                                                </select>
                                            </div>
                                            <!------------------FIN---selection of categorie---------------------------------------------------->

                                            <div class="form-group">
                                                <label for="Photo" class="col-form-label">Une photo de profil</label>
                                                <input type="file" class="form-control" placeholder="Chargez ..." name="Photo" id="Photo"
                                                       required>
                                            </div>

                                            <div class="right-w3l">
                                                <input type="submit" class="form-control" value="Update">
                                            </div>

                                            @Html.AntiForgeryToken()
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- // register -->
                        <!--------------------------------------------------------------------------------->
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
